[Unit]
Description=ClickHouse Server

[Service]
Restart=on-failure

[Container]
Image=docker.io/library/clickhouse:lts
AutoUpdate=registry
ContainerName=clickhouse-server
Pod=clickhouse.pod
CgroupsMode=no-conmon
AddCapability=SYS_NICE NET_ADMIN IPC_LOCK
Ulimit=nofile=262144:262144
Volume=/var/opt/containers/clickhouse/ch_data:/var/lib/clickhouse:z
Volume=/var/opt/containers/clickhouse/ch_logs:/var/log/clickhouse-server:z
Volume=/var/opt/containers/clickhouse/ch_configs:/etc/clickhouse-server/config.d:z
Volume=/var/opt/containers/clickhouse/ch_users:/etc/clickhouse-server/users.d:z
