[Unit]
Description=ClickHouse Server

[Service]
Restart=on-failure

[Container]
Image=docker.io/library/clickhouse:lts
AutoUpdate=registry
Network=saoirse.network
DNS=10.192.0.2
IP=10.192.0.13
IP6=fd00::13
HostName=clickhouse.saoirse.home.arpa
NetworkAlias=clickhouse.saoirse.home.arpa
Volume=/var/containers/clickhouse/data:/var/lib/clickhouse:z
Volume=/var/containers/clickhouse/logs:/var/log/clickhouse-server:z
Volume=/var/containers/clickhouse/configs:/etc/clickhouse-server/config.d:z
Volume=/var/containers/clickhouse/users:/etc/clickhouse-server/users.d:z
CgroupsMode=split
AddCapability=SYS_NICE NET_ADMIN IPC_LOCK
Ulimit=nofile=262144:262144
Memory=4g
