[Unit]
Description=Ozone Cluster Target
Wants=ozone-scm.service ozone-om.service ozone-datanode.service ozone-gateway-pod.service
After=ozone-scm.service ozone-om.service ozone-datanode.service ozone-gateway-pod.service