[Unit]
Description=Trino Cluster Target
Wants=trino-coord.service trino-worker-1.service trino-worker-2.service
After=trino-coord.service trino-worker-1.service trino-worker-2.service