[Unit]
Description=Spark Worker 1
After=spark-master.container spark-historyserver.container
Requires=spark-master.container spark-historyserver.container

[Container]
Image=docker.io/library/spark:4.0.0-python3
Exec=/entrypoint.sh worker spark://spark-master.saoirse.home.arpa:7077
AutoUpdate=registry
HostName=spark-worker-1.saoirse.home.arpa
DNS=10.88.0.2
IP=10.88.0.163
Environment=SPARK_LOCAL_IP=spark-worker-1.saoirse.home.arpa
Environment=SPARK_WORKLOAD=worker
Environment=SPARK_WORKER_CORES=2
Environment=SPARK_WORKER_MEMORY=1G
Environment=SPARK_DRIVER_MEMORY=1G
Environment=SPARK_EXECUTOR_MEMORY=1G
Volume=/var/opt/containers/spark/entrypoint.sh:/entrypoint.sh:z
Volume=/var/opt/containers/spark/conf:/opt/spark/conf:z
Volume=/var/opt/containers/spark/work-dir:/opt/spark/work-dir:z
Volume=/var/opt/containers/spark/worker-1/logs:/opt/spark/logs:z
Memory=2g
