[Unit]
Description=Spark Master
PartOf=spark-cluster.target

[Container]
Exec=/entrypoint.sh
Image=docker.io/library/spark:4.0.0-python3
AutoUpdate=registry
Network=saoirse.network
DNS=10.192.0.10
IP=10.192.0.161
IP6=fd00::161
HostName=spark-master.saoirse.home.arpa
NetworkAlias=spark-master.saoirse.home.arpa
Environment=SPARK_LOCAL_IP=spark-master.saoirse.home.arpa
Environment=SPARK_WORKLOAD=master
Mount=type=bind,src=/var/containers/spark/entrypoint.sh,dst=/entrypoint.sh,relabel=shared
Mount=type=bind,src=/var/containers/spark/conf,dst=/opt/spark/conf,relabel=shared
Mount=type=bind,src=/var/containers/spark/work-dir,dst=/opt/spark/work-dir,relabel=shared
Mount=type=bind,src=/var/containers/spark/master/logs,dst=/opt/spark/logs,relabel=shared
Memory=512m
