[Unit]
Description=Spark History Server
PartOf=spark-cluster.target
Requires=spark-master.container
After=spark-master.container

[Container]
Exec=/entrypoint.sh
Image=docker.io/library/spark:4.0.0-python3
AutoUpdate=registry
Network=saoirse.network
DNS=10.192.0.10
IP=10.192.0.162
IP6=fd00::162
HostName=spark-hs.saoirse.home.arpa
NetworkAlias=spark-hs.saoirse.home.arpa
Environment=SPARK_WORKLOAD=history
Mount=type=bind,src=/var/containers/spark/entrypoint.sh,dst=/entrypoint.sh,relabel=shared
Mount=type=bind,src=/var/containers/spark/conf,dst=/opt/spark/conf,relabel=shared
Mount=type=bind,src=/var/containers/spark/work-dir,dst=/opt/spark/work-dir,relabel=shared
Mount=type=bind,src=/var/containers/spark/historyserver/logs,dst=/opt/spark/logs,relabel=shared
Memory=512m
