[Unit]
Description=Spark History Server
After=spark-master.container
Requires=spark-master.container

[Container]
Exec=/entrypoint.sh
Image=docker.io/library/spark:4.0.0-python3
AutoUpdate=registry
DNS=10.88.0.2
IP=10.88.0.162
HostName=spark-hs.saoirse.home.arpa
Environment=SPARK_WORKLOAD=history
Volume=/var/containers/spark/entrypoint.sh:/entrypoint.sh:z
Volume=/var/containers/spark/conf:/opt/spark/conf:z
Volume=/var/containers/spark/work-dir:/opt/spark/work-dir:z
Volume=/var/containers/spark/historyserver/logs:/opt/spark/logs:z
Memory=512m
