[Unit]
Description=CoreDNS
After=dnsproxy.container
Requires=dnsproxy.container

[Service]
Restart=on-failure

[Container]
Pod=ns.pod
Image=docker.io/coredns/coredns:latest
AutoUpdate=registry
CgroupsMode=no-conmon
Volume=/var/opt/containers/coredns/Corefile:/Corefile:z
Volume=/var/opt/containers/coredns/etc/coredns:/etc/coredns:z
Memory=1g