[Unit]
Description=Versity S3 Gateway

[Container]
Image=docker.io/versity/versitygw:latest
AutoUpdate=registry
DNS=10.88.0.2
IP=10.88.0.60
HostName=s3.saoirse.home.arpa
EnvironmentFile=/var/containers/versitygw/env.sh
Environment=VGW_BACKEND=posix
Environment=VGW_BACKEND_ARG=/data
Environment=VGW_PORT=:443
Environment=VGW_CERT=/s3.crt
Environment=VGW_KEY=/s3.key
Secret=versitygw-root-access-key,type=env,target=ROOT_ACCESS_KEY
Secret=versitygw-root-secret-key,type=env,target=ROOT_SECRET_KEY
Mount=type=bind,source=/var/containers/versitygw/s3.crt,target=/s3.crt,relabel=private
Mount=type=bind,source=/var/containers/versitygw/s3.key,target=/s3.key,relabel=private
Volume=/var/containers/versitygw/data:/data:z

[Install]
WantedBy=default.target
