[Unit]
Description=Apache NiFi
Requires=freeipa.container
After=freeipa.container

[Service]
Restart=on-abnormal

[Container]
Image=docker.io/apache/nifi:2.6.0
AutoUpdate=registry
DNS=10.88.0.2
IP=10.88.0.181
HostName=nifi.saoirse.home.arpa
Environment=KEYSTORE_PATH=/opt/certs/keystore.p12
Environment=KEYSTORE_PASSWORD=changeit
Environment=KEYSTORE_TYPE=PKCS12
Environment=TRUSTSTORE_PATH=/opt/certs/truststore.p12
Environment=TRUSTSTORE_PASSWORD=changeit
Environment=TRUSTSTORE_TYPE=PKCS12
Environment=NIFI_JVM_HEAP_INIT=256M
Environment=NIFI_JVM_HEAP_MAX=1G
Environment=NIFI_WEB_HTTPS_PORT=8443
Environment=NIFI_WEB_PROXY_HOST=nifi.saoirse.home.arpa
Environment=NIFI_WEB_PROXY_CONTEXT_PATH=/
Environment=AUTH=ldap
Environment=INITIAL_ADMIN_IDENTITY='admin'
Environment=LDAP_AUTHENTICATION_STRATEGY='LDAPS'
Environment=LDAP_MANAGER_DN='uid=admin,cn=users,cn=accounts,dc=saoirse,dc=home,dc=arpa'
Environment=LDAP_USER_SEARCH_BASE='cn=users,cn=accounts,dc=saoirse,dc=home,dc=arpa'
Environment=LDAP_USER_SEARCH_FILTER='(&(objectClass=top)(objectClass=person)(uid={0}))'
Environment=LDAP_IDENTITY_STRATEGY='USE_USERNAME'
Environment=LDAP_URL='ldaps://ipa.saoirse.home.arpa'
Environment=LDAP_TLS_TRUSTSTORE=/opt/certs/truststore.p12
Environment=LDAP_TLS_TRUSTSTORE_PASSWORD=changeit
Environment=LDAP_TLS_TRUSTSTORE_TYPE=PKCS12
Environment=TZ=Asia/Jakarta
Secret=type=env,source=freeipa-admin-password,target=LDAP_MANAGER_PASSWORD
Volume=/var/containers/nifi/opt/certs:/opt/certs:z
Volume=/var/containers/nifi/data:/data:z
Volume=nifi-logs.volume:/opt/nifi/nifi-current/logs
Volume=nifi-conf.volume:/opt/nifi/nifi-current/conf
Volume=nifi-database-repository.volume:/opt/nifi/nifi-current/database_repository
Volume=nifi-flowfile-repository.volume:/opt/nifi/nifi-current/flowfile_repository
Volume=nifi-content-repository.volume:/opt/nifi/nifi-current/content_repository
Volume=nifi-provenance-repository.volume:/opt/nifi/nifi-current/provenance_repository
Volume=nifi-python-extensions.volume:/opt/nifi/nifi-current/python_extensions
Volume=nifi-nar-extensions.volume:/opt/nifi/nifi-current/nar_extensions
Volume=nifi-state.volume:/opt/nifi/nifi-current/state
