[Unit]
Description=NiFi

[Service]
Restart=on-failure

[Container]
Image=docker.io/apache/nifi:2.3.0
AutoUpdate=registry
HostName=nifi.saoirse.home.arpa
DNS=10.88.0.2
IP=10.88.0.181
Volume=/var/opt/containers/nifi/opt/certs:/opt/certs:z
Volume=nifi-logs.volume:/opt/nifi/nifi-current/logs
Volume=nifi-conf.volume:/opt/nifi/nifi-current/conf
Volume=nifi-database-repository.volume:/opt/nifi/nifi-current/database_repository
Volume=nifi-flowfile-repository.volume:/opt/nifi/nifi-current/flowfile_repository
Volume=nifi-content-repository.volume:/opt/nifi/nifi-current/content_repository
Volume=nifi-provenance-repository.volume:/opt/nifi/nifi-current/provenance_repository
Volume=nifi-python-extensions.volume:/opt/nifi/nifi-current/python_extensions
Volume=nifi-nar-extensions.volume:/opt/nifi/nifi-current/nar_extensions
Volume=nifi-state.volume:/opt/nifi/nifi-current/state
Environment=KEYSTORE_PATH=/opt/certs/keystore.jks
Environment=KEYSTORE_PASSWORD=changeit
Environment=KEYSTORE_TYPE=JKS
Environment=TRUSTSTORE_PATH=/opt/certs/truststore.jks
Environment=TRUSTSTORE_PASSWORD=changeit
Environment=TRUSTSTORE_TYPE=JKS
Environment=NIFI_WEB_HTTPS_PORT=8443
Environment=NIFI_WEB_PROXY_HOST=nifi.saoirse.home.arpa
Environment=AUTH=tls
Environment=INITIAL_ADMIN_IDENTITY="CN=Tamado Sitohang, O=Saoirse, C=ID"
