[Unit]
Description=Wireproxy Container

[Service]
Restart=on-failure
SuccessExitStatus=2

[Container]
Image=ghcr.io/pufferffish/wireproxy:latest
AutoUpdate=registry
ContainerName=wireporxy-server
CgroupsMode=no-conmon
Pod=wireproxy.pod
Volume=/var/opt/containers/wireproxy:/etc/wireproxy:z

[Install]
WantedBy=default.target
