[Unit]
Description=DNS Proxy Container

[Service]
Restart=on-failure

[Container]
Image=docker.io/coredns/coredns:latest
AutoUpdate=registry
ContainerName=dns
CgroupsMode=no-conmon
DNS=10.88.0.88
HostName=dns.saoirse.home.arpa
IP=10.88.0.2
Volume=/var/opt/containers/coredns/Corefile:/Corefile:z
Volume=/var/opt/containers/coredns/etc/coredns:/etc/coredns:z
Memory=1g

[Install]
WantedBy=default.target
