[Unit]
Description=FreeIPA Container
Requires=ns.pod
After=ns.pod

[Container]
Image=quay.io/freeipa/freeipa-server:fedora-43
AutoUpdate=registry
Network=saoirse.network
DNS=127.0.0.1
IP=10.192.0.10
IP6=fd00::10
HostName=ipa.saoirse.home.arpa
NetworkAlias=ipa.saoirse.home.arpa
HealthCmd=["ipa-healthcheck"]
HealthInterval=30m
HealthOnFailure=none
HealthStartupCmd=["ipa-healthcheck", "--source", "ipahealthcheck.ipa.idns"]
HealthStartupInterval=10s
Notify=healthy
Secret=ipa-server-install-opts,type=env,target=IPA_SERVER_INSTALL_OPTS
Secret=freeipa-admin-password,type=env,target=PASSWORD
Mount=type=bind,src=/var/containers/freeipa/ipa.p12,dst=/data/ipa.p12,relabel=private
Mount=type=bind,src=/var/containers/freeipa/ca.crt,dst=/data/ca.crt,relabel=private
Mount=type=tmpfs,dst=/run
Mount=type=tmpfs,dst=/tmp
Volume=/var/containers/freeipa/data:/data:Z
ReadOnly=true

[Install]
WantedBy=default.target
