[Unit]
Description=Apps HAProxy Reverse Proxy
Requires=ns.pod
After=ns.pod

[Service]
Restart=always

[Container]
Image=docker.io/haproxytech/haproxy-alpine:3.2
AutoUpdate=registry
Network=saoirse.network
DNS=10.192.0.2
IP=10.192.0.101
IP6=fd00::101
HostName=apps.saoirse.home.arpa
NetworkAlias=apps.saoirse.home.arpa
Volume=/var/containers/haproxy:/usr/local/etc/haproxy:z
Memory=1gb

[Install]
WantedBy=default.target
