[Unit]
Description=Trino Coordinator
PartOf=trino-cluster.target
Requires=postgres.container versitygw.container hive.pod
After=postgres.container versitygw.container hive.pod

[Service]
Restart=on-failure
SuccessExitStatus=143

[Container]
Image=docker.io/trinodb/trino:latest
AutoUpdate=registry
HostName=trino-coord.saoirse.home.arpa
DNS=10.88.0.2
IP=10.88.0.40
Volume=/var/containers/trino-coord/data:/data:z
Volume=/var/containers/trino-coord/etc:/etc/trino:z
Volume=/var/containers/trino-catalog:/etc/trino/catalog:z
