[Unit]
Description=Trino Coordinator
PartOf=trino-cluster.target
Requires=postgres.container versitygw.container hive.pod
After=postgres.container versitygw.container hive.pod

[Service]
Restart=on-failure
SuccessExitStatus=143

[Container]
Image=docker.io/trinodb/trino:latest
AutoUpdate=registry
DNS=10.88.0.2
IP=10.88.0.40
HostName=trino-coord.saoirse.home.arpa
Secret=type=env,source=versitygw-root-access-key,target=S3_ACCESS_KEY
Secret=type=env,source=versitygw-root-secret-key,target=S3_SECRET_KEY
Secret=type=env,source=postgres-password,target=POSTGRES_PASSWORD
Volume=/var/containers/trino-coord/data:/data:z
Volume=/var/containers/trino-coord/etc:/etc/trino:z
Volume=/var/containers/trino-catalog:/etc/trino/catalog:z
PodmanArgs=--cpus=2
