[Unit]
Description=Trino Worker Node 1
PartOf=trino-cluster.target
Requires=trino-coord.container
After=trino-coord.container

[Service]
Restart=on-failure
SuccessExitStatus=143

[Container]
Image=docker.io/trinodb/trino:latest
AutoUpdate=registry
HostName=trino-worker-1.saoirse.home.arpa
DNS=10.88.0.2
IP=10.88.0.41
Secret=versitygw_root_access_key,type=env,target=S3_ACCESS_KEY
Secret=versitygw_root_secret_key,type=env,target=S3_SECRET_KEY
Secret=postgres_password,type=env,target=POSTGRES_PASSWORD
Volume=/var/containers/trino-worker-1/data:/data:z
Volume=/var/containers/trino-worker-1/etc:/etc/trino:z
Volume=/var/containers/trino-catalog:/etc/trino/catalog:z
PodmanArgs=--cpus=2
