[Unit]
Description=Trino Worker Node 1
After=trino-coord.container
Requires=trino-coord.container

[Service]
Restart=on-failure

[Container]
Image=docker.io/trinodb/trino:latest
AutoUpdate=registry
HostName=trino-worker-1.saoirse.home.arpa
DNS=10.88.0.2
IP=10.88.0.41
Volume=/var/containers/trino-worker-1/data:/data:z
Volume=/var/containers/trino-worker-1/etc:/etc/trino:z
