[Unit]
Description=Trino Worker Node 2
PartOf=trino-cluster.target
Requires=trino-coord.container
After=trino-coord.container

[Service]
Restart=on-failure
SuccessExitStatus=143

[Container]
Image=docker.io/trinodb/trino:latest
AutoUpdate=registry
DNS=10.88.0.2
IP=10.88.0.42
HostName=trino-worker-2.saoirse.home.arpa
Secret=versitygw-root-access-key,type=env,target=S3_ACCESS_KEY
Secret=versitygw-root-secret-key,type=env,target=S3_SECRET_KEY
Secret=postgres-password,type=env,target=POSTGRES_PASSWORD
Volume=/var/containers/trino-worker-2/data:/data:z
Volume=/var/containers/trino-worker-2/etc:/etc/trino:z
Volume=/var/containers/trino-catalog:/etc/trino/catalog:z
PodmanArgs=--cpus=2
