[Unit]
Description=Hive Metastore
After=postgres.container versitygw.container
Requires=postgres.container versitygw.container

[Service]
Restart=on-failure
SuccessExitStatus=143

[Container]
Pod=hive.pod
Image=docker.io/apache/hive:4.2.0
AutoUpdate=registry
EnvironmentFile=/var/containers/hive/env.sh
Environment=SERVICE_NAME=metastore
Environment=SERVICE_OPTS="-Xmx1G"
Secret=type=env,source=versitygw-root-access-key,target=AWS_ACCESS_KEY_ID
Secret=type=env,source=versitygw-root-secret-key,target=AWS_SECRET_ACCESS_KEY
Mount=type=bind,source=/var/containers/hive/trustStore.jks,target=/trustStore.jks,relabel=shared
Mount=type=bind,source=/var/containers/hive/hiveKeyStore.jks,target=/hiveKeyStore.jks,relabel=shared
Mount=type=bind,source=/var/containers/hive/etc/core-site.xml.template,target=/opt/hive/conf/core-site.xml.template,relabel=shared,readonly=true
Mount=type=bind,source=/var/containers/hive/etc/hivemetastore-site.xml,target=/opt/hive/conf/hivemetastore-site.xml,relabel=shared,readonly=true
Memory=1152m
