[Unit]
Description=Hive Metastore

[Service]
Restart=on-failure
SuccessExitStatus=143

[Container]
Image=docker.io/apache/hive:4.2.0
AutoUpdate=registry
HostName=hive-hms.saoirse.home.arpa
DNS=10.88.0.2
IP=10.88.0.80
Volume=/var/containers/hive/hms/data:/opt/hive/data/warehouse:z
Volume=/var/containers/hive/jars:/tmp/ext-jars:z
Mount=type=bind,source=/var/containers/hive/hms/etc/metastore-site.xml,target=/opt/hive/conf/metastore-site.xml
EnvironmentFile=/var/containers/hive/env.sh
Memory=1g
