[Unit]
Description=Hive Metastore
Requires=postgres.container versitygw.container
After=postgres.container versitygw.container

[Service]
Restart=on-failure
SuccessExitStatus=143

[Container]
Pod=hive.pod
Image=docker.io/apache/hive:4.2.0
AutoUpdate=registry
EnvironmentFile=/var/containers/hive/env.sh
Environment=SERVICE_NAME=metastore
Environment=SERVICE_OPTS="-Xmx1G"
Secret=versitygw-root-access-key,type=env,target=AWS_ACCESS_KEY_ID
Secret=versitygw-root-secret-key,type=env,target=AWS_SECRET_ACCESS_KEY
Mount=type=bind,src=/var/containers/hive/trustStore.jks,dst=/trustStore.jks,relabel=shared
Mount=type=bind,src=/var/containers/hive/hiveKeyStore.jks,dst=/hiveKeyStore.jks,relabel=shared
Mount=type=bind,src=/var/containers/hive/etc/core-site.xml.template,dst=/opt/hive/conf/core-site.xml.template,relabel=shared,readonly=true
Mount=type=bind,src=/var/containers/hive/etc/hivemetastore-site.xml,dst=/opt/hive/conf/hivemetastore-site.xml,relabel=shared,readonly=true
Memory=1152m
