[Unit]
Description=DNS Proxy Container

[Service]
Restart=on-failure

[Container]
Image=docker.io/adguard/dnsproxy:latest
ContainerName=dnsproxy
CgroupsMode=no-conmon
HostName=dnsproxy.home.arpa
IP=10.88.0.88
Volume=/var/opt/containers/dnsproxy/config.yaml:/opt/dnsproxy/config.yaml:Z
Memory=1g

[Install]
WantedBy=default.target
