[Unit]
Description=Apps HAProxy Reverse Proxy

[Service]
Restart=always

[Container]
Pod=apps.pod
Image=docker.io/haproxytech/haproxy-alpine:3.2
AutoUpdate=registry
CgroupsMode=no-conmon
Volume=/var/opt/containers/apps/haproxy:/usr/local/etc/haproxy:z
Memory=1gb
