[Unit]
Description=Dovecot

[Service]
Restart=on-failure

[Container]
Pod=mail.pod
Image=tamado.codes/library/dovecot:latest
AutoUpdate=local
CgroupsMode=no-conmon
Volume=/var/opt/containers/dovecot/mail.key:/etc/dovecot/mail.key:z
Volume=/var/opt/containers/dovecot/mail.crt:/etc/dovecot/mail.crt:z
Volume=/var/opt/containers/dovecot/dovecot.conf:/etc/dovecot/dovecot.conf:z
Volume=/var/opt/containers/dovecot/passwd:/etc/dovecot/passwd:z
Volume=/var/opt/containers/mail:/mail:z
Memory=1g