[Unit]
Description=Mailserver Roundcube Webmail Service
Requires=mail-dovecot.container
After=mail-dovecot.container

[Container]
Pod=mail.pod
Image=docker.io/roundcube/roundcubemail:latest-fpm
AutoUpdate=registry
Environment=ROUNDCUBEMAIL_DB_TYPE=pgsql
Environment=ROUNDCUBEMAIL_DB_HOST=postgres.saoirse.home.arpa
Environment=ROUNDCUBEMAIL_DB_NAME=roundcube
Environment=ROUNDCUBEMAIL_DB_USER=roundcube
Secret=roundcube-db-password,type=env,target=ROUNDCUBEMAIL_DB_PASSWORD
Mount=type=bind,src=/var/containers/mail/roundcube/ca.crt,dst=/var/roundcube/ca.crt,relabel=private
Volume=/var/containers/mail/roundcube/config:/var/roundcube/config:z
Memory=1g
