[Unit]
Description=Mailserver Nginx Web Server
After=mail-roundcube.container
Requires=mail-roundcube.container

[Container]
Pod=mail.pod
Image=docker.io/library/nginx:1.29-alpine
AutoUpdate=registry
Mount=type=bind,source=/var/containers/mail/nginx/mail.crt,target=/etc/mail.crt,relabel=shared
Mount=type=bind,source=/var/containers/mail/nginx/mail.key,target=/etc/mail.key,relabel=shared
Mount=type=bind,source=/var/containers/mail/nginx/mail.conf,target=/etc/nginx/conf.d/mail.conf,relabel=shared
Memory=1g
