[Unit]
Description=Mailserver Roundcube Webmail Service
After=mail-dovecot.container
Requires=mail-dovecot.container

[Container]
Pod=mail.pod
Image=docker.io/roundcube/roundcubemail:1.6.x-fpm-alpine
AutoUpdate=registry
CgroupsMode=no-conmon
Environment=ROUNDCUBEMAIL_DB_TYPE=pgsql
Environment=ROUNDCUBEMAIL_DB_HOST=postgres.saoirse.home.arpa
Environment=ROUNDCUBEMAIL_DB_NAME=roundcube
Environment=ROUNDCUBEMAIL_DB_USER=roundcube
Secret=roundcube_db_password,type=env,target=ROUNDCUBEMAIL_DB_PASSWORD
Volume=/var/opt/containers/mail/roundcube/config:/var/roundcube/config:z
Volume=/var/opt/containers/mail/roundcube/ca.crt:/var/roundcube/ca.crt:z
Volume=/var/opt/containers/mail/roundcube/data:/var/www/html:Z
Memory=1g
