[Unit]
Description=Mailserver Nginx Web Server
After=mail-roundcube.container
Requires=mail-roundcube.container

[Container]
Pod=mail.pod
Image=docker.io/library/nginx:1.29-alpine
AutoUpdate=registry
CgroupsMode=no-conmon
Volume=/var/containers/mail/roundcube/data:/var/www/html:Z
Volume=/var/containers/mail/nginx/mail.conf:/etc/nginx/conf.d/mail.conf:z
Volume=/var/containers/mail/nginx/mail.crt:/etc/mail.crt:z
Volume=/var/containers/mail/nginx/mail.key:/etc/mail.key:z
Memory=1g
