[Unit]
Description=Roundcube
After=mail-dovecot.container mail-postgres.container
Requires=mail-dovecot.container mail-postgres.container

[Container]
Pod=mail.pod
Image=docker.io/roundcube/roundcubemail:1.6.x-fpm-alpine
AutoUpdate=registry
CgroupsMode=no-conmon
Environment=ROUNDCUBEMAIL_DB_TYPE=pgsql
Environment=ROUNDCUBEMAIL_DB_HOST=mail.saoirse.home.arpa
Environment=ROUNDCUBEMAIL_DB_NAME=postgres
Environment=ROUNDCUBEMAIL_DB_USER=postgres
Secret=roundcube_db_password,type=env,target=ROUNDCUBEMAIL_DB_PASSWORD
Volume=/var/opt/containers/mail/roundcube/config:/var/roundcube/config:z
Volume=/var/opt/containers/mail/roundcube/ca.crt:/var/roundcube/ca.crt:z
Volume=/var/opt/containers/mail/roundcube/data:/var/www/html:Z
