[Unit]
Description=Roundcube
After=dovecot.container
Requires=dovecot.container

[Service]
Restart=on-failure

[Container]
Pod=mail.pod
Image=docker.io/roundcube/roundcubemail:1.6.x-fpm-alpine
AutoUpdate=registry
CgroupsMode=no-conmon
Environment=ROUNDCUBEMAIL_DB_TYPE=sqlite
Volume=/var/opt/containers/mail/roundcube/db:/var/roundcube/db:z
Volume=/var/opt/containers/mail/roundcube/config:/var/roundcube/config:z
Volume=/var/opt/containers/mail/roundcube/ca.crt:/var/roundcube/ca.crt:z
Volume=/var/opt/containers/mail/roundcube/data:/var/www/html:Z
