[Unit]
Description=Kafka Connect Node 2
After=kafka-1.container kafka-2.container kafka-3.container

[Service]
Restart=on-failure
SuccessExitStatus=143
SuccessExitStatus=137

[Container]
Exec=/opt/kafka/bin/connect-distributed.sh /connect-distributed.properties
Image=docker.io/apache/kafka:4.0.0
AutoUpdate=registry
HostName=connect-1.saoirse.home.arpa
DNS=10.88.0.2
IP=10.88.0.22
Environment=KAFKA_HEAP_OPTS="-Xms256M -Xmx512M"
Volume=/var/opt/containers/kafka-connect/connectors:/opt/connectors:z
Volume=/var/opt/containers/kafka-connect/connect-2/connect-distributed.properties:/connect-distributed.properties:z
