[Unit]
Description=Kafka Connect Node 1
PartOf=connect-cluster.target

[Service]
Restart=on-failure
SuccessExitStatus=143
SuccessExitStatus=137

[Container]
Exec=/opt/kafka/bin/connect-distributed.sh /connect-distributed.properties
Image=docker.io/apache/kafka:4.1.0
AutoUpdate=registry
HostName=connect-1.saoirse.home.arpa
DNS=10.88.0.2
IP=10.88.0.21
Environment=KAFKA_HEAP_OPTS="-Xms128M -Xmx256M"
Volume=/var/opt/containers/kafka-connect/connectors:/opt/connectors:z
Volume=/var/opt/containers/kafka-connect/connect-1/connect-distributed.properties:/connect-distributed.properties:z
Volume=kafka-1-data.volume:/var/lib/kafka/data:ro
Volume=kafka-1-secrets.volume:/etc/kafka/secrets:ro
Volume=kafka-1-sharedconfig.volume:/mnt/shared/config:ro
