[Unit]
Description=Kafka UI Container

[Service]
Restart=on-failure
SuccessExitStatus=143
SuccessExitStatus=137

[Container]
Image=docker.io/provectuslabs/kafka-ui:latest
AutoUpdate=registry
ContainerName=kafka-ui
CgroupsMode=no-conmon
Pod=kafka.pod
Volume=/var/opt/containers/kafka-ui/config.yml:/etc/kafkaui/dynamic_config.yaml:z
PodmanArgs=--memory=256mb
AddCapability=CAP_NET_BIND_SERVICE
Environment=SERVER_PORT=80
Environment=DYNAMIC_CONFIG_ENABLED=true
