[Unit]
Description=Kafka Node 1

[Service]
Restart=on-failure
SuccessExitStatus=143
SuccessExitStatus=137

[Container]
Image=docker.io/bitnami/kafka:3.4
AutoUpdate=registry
ContainerName=kafka-1
CgroupsMode=no-conmon
HostName=kafka-1
IP=10.88.0.11
AddHost=kafka-0:10.88.0.10
AddHost=kafka-1:10.88.0.11
AddHost=kafka-2:10.88.0.12
Volume=/var/opt/containers/kafka-1:/bitnami/kafka:z
Environment=ALLOW_PLAINTEXT_LISTENER=yes
Environment=KAFKA_ENABLE_KRAFT=yes
Environment=KAFKA_KRAFT_CLUSTER_ID=ZjU4YzZhNGI1MjM5NDI0OT
Environment=KAFKA_CFG_NODE_ID=1
Environment=KAFKA_CFG_PROCESS_ROLES=broker,controller
Environment=KAFKA_CFG_INTER_BROKER_LISTENER_NAME=PLAINTEXT
Environment=KAFKA_CFG_CONTROLLER_LISTENER_NAMES=CONTROLLER
Environment=KAFKA_CFG_LISTENERS=PLAINTEXT://:9092,CONTROLLER://:9093
Environment=KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
Environment=KAFKA_CFG_CONTROLLER_QUORUM_VOTERS=0@kafka-0:9093,1@kafka-1:9093,2@kafka-2:9093
Environment=KAFKA_CFG_ADVERTISED_LISTENERS=PLAINTEXT://kafka-1.containers.internal:9092
Environment=KAFKA_CFG_TRANSACTION_STATE_LOG_REPLICATION_FACTOR=3
Environment=KAFKA_CFG_TRANSACTION_STATE_LOG_MIN_ISR=2
Environment=BITNAMI_DEBUG=yes
Environment=TZ=Asia/Jakarta
PodmanArgs=--memory=1gb
