[Unit]
Description=Kafka Node 2

[Service]
Restart=on-failure
SuccessExitStatus=143
SuccessExitStatus=137

[Container]
Image=docker.io/apache/kafka:4.0.0
AutoUpdate=registry
ContainerName=kafka-2
CgroupsMode=no-conmon
HostName=kafka-2.home.arpa
IP=10.88.0.12
AddHost=kafka-0.home.arpa:10.88.0.10
AddHost=kafka-1.home.arpa:10.88.0.11
AddHost=kafka-2.home.arpa:10.88.0.12
Volume=/var/opt/containers/kafka-2:/var/lib/kafka/data:z
Environment=CLUSTER_ID=2b3b4d65-12b0-458a-9e9d-e5557751be33
Environment=KAFKA_NODE_ID=2
Environment=KAFKA_PROCESS_ROLES=broker,controller
Environment=KAFKA_INTER_BROKER_LISTENER_NAME=PLAINTEXT
Environment=KAFKA_CONTROLLER_LISTENER_NAMES=CONTROLLER
Environment=KAFKA_LISTENERS=PLAINTEXT://:9092,CONTROLLER://:9093
Environment=KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
Environment=KAFKA_CONTROLLER_QUORUM_VOTERS=0@kafka-0.home.arpa:9093,1@kafka-1.home.arpa:9093,2@kafka-2.home.arpa:9093
Environment=KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://kafka-2.home.arpa:9092
Environment=KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR=3
Environment=KAFKA_TRANSACTION_STATE_LOG_MIN_ISR=2
Environment=KAFKA_LOG_DIRS=/var/lib/kafka/data
Environment=TZ=Asia/Jakarta
PodmanArgs=--memory=1gb
