[Unit]
Description=PostgreSQL Server

[Container]
Exec=postgres
Image=docker.io/library/postgres:18
AutoUpdate=registry
DNS=10.88.0.2
IP=10.88.0.100
HostName=postgres.saoirse.home.arpa
Secret=source=postgres-password,type=env,target=POSTGRES_PASSWORD
Volume=postgres.volume:/var/lib/postgresql:z
ShmSize=256m
Memory=1g

[Install]
WantedBy=default.target
