[Unit]
Description=Ozone Recon Server

[Service]
Restart=on-failure
SuccessExitStatus=143

[Container]
Exec=ozone recon
Pod=ozone-gateway.pod
Image=docker.io/apache/ozone:2.0.0
AutoUpdate=registry
HealthCmd="nc -z ozone-gateway.saoirse.home.arpa 9891"
HealthInterval=10s
Notify=healthy
Volume=ozone-recon-data.volume:/data:z
Environment=OZONE-SITE.XML_hdds.datanode.dir="/data/hdds"
Environment=OZONE-SITE.XML_ozone.metadata.dirs="/data/metadata"
Environment=OZONE-SITE.XML_ozone.om.address="ozone-om.saoirse.home.arpa"
Environment=OZONE-SITE.XML_ozone.om.http-address="ozone-om.saoirse.home.arpa:9874"
Environment=OZONE-SITE.XML_ozone.recon.address="ozone-gateway.saoirse.home.arpa:9891"
Environment=OZONE-SITE.XML_ozone.recon.db.dir="/data/metadata/recon"
Environment=OZONE-SITE.XML_ozone.replication="1"
Environment=OZONE-SITE.XML_ozone.scm.block.client.address="ozone-scm.saoirse.home.arpa"
Environment=OZONE-SITE.XML_ozone.scm.client.address="ozone-scm.saoirse.home.arpa"
Environment=OZONE-SITE.XML_ozone.scm.datanode.id.dir="/data/metadata"
Environment=OZONE-SITE.XML_ozone.scm.names="ozone-scm.saoirse.home.arpa"
Environment=OZONE-SITE.XML_ozone.scm.container.size="1gb"
Environment=OZONE-SITE.XML_ozone.scm.block.size="64mb"
Environment=OZONE_HEAPSIZE_MAX=256
Memory=1g
