[Unit]
Description=Ozone Datanode 3
PartOf=ozone-cluster.target
Requires=ozone-recon.container
After=ozone-recon.container

[Service]
Restart=on-failure
SuccessExitStatus=143

[Container]
Exec=ozone datanode
Image=docker.io/apache/ozone:2.0.0
AutoUpdate=registry
DNS=10.88.0.2
IP=10.88.0.73
HostName=ozone-dn-3.saoirse.home.arpa
Environment=OZONE-SITE.XML_hdds.datanode.dir="/data/hdds"
Environment=OZONE-SITE.XML_ozone.metadata.dirs="/data/metadata"
Environment=OZONE-SITE.XML_ozone.om.address="ozone-om.saoirse.home.arpa"
Environment=OZONE-SITE.XML_ozone.om.http-address="ozone-om.saoirse.home.arpa:9874"
Environment=OZONE-SITE.XML_ozone.recon.address="ozone-gateway.saoirse.home.arpa:9891"
Environment=OZONE-SITE.XML_ozone.recon.db.dir="/data/metadata/recon"
Environment=OZONE-SITE.XML_ozone.replication="1"
Environment=OZONE-SITE.XML_ozone.scm.block.client.address="ozone-scm.saoirse.home.arpa"
Environment=OZONE-SITE.XML_ozone.scm.client.address="ozone-scm.saoirse.home.arpa"
Environment=OZONE-SITE.XML_ozone.scm.datanode.id.dir="/data/metadata"
Environment=OZONE-SITE.XML_ozone.scm.names="ozone-scm.saoirse.home.arpa"
Environment=OZONE-SITE.XML_ozone.scm.container.size="512mb"
Environment=OZONE-SITE.XML_ozone.scm.block.size="16mb"
Environment=OZONE_HEAPSIZE_MAX=256
Volume=ozone-dn-3-data.volume:/data:z
Memory=1g