[Unit]
Description=Ozone Manager
PartOf=ozone-cluster.target
Requires=ozone-scm.container
After=ozone-scm.container

[Service]
Restart=on-failure
SuccessExitStatus=143

[Container]
Exec=ozone om
Image=docker.io/apache/ozone:2.0.0
AutoUpdate=registry
DNS=10.88.0.2
IP=10.88.0.79
HostName=ozone-om.saoirse.home.arpa
Notify=healthy
HealthCmd="nc -z ozone-om.saoirse.home.arpa 9862"
HealthInterval=10s
Environment=OZONE-SITE.XML_hdds.datanode.dir="/data/hdds"
Environment=OZONE-SITE.XML_ozone.metadata.dirs="/data/metadata"
Environment=OZONE-SITE.XML_ozone.om.address="ozone-om.saoirse.home.arpa"
Environment=OZONE-SITE.XML_ozone.om.http-address="ozone-om.saoirse.home.arpa:9874"
Environment=OZONE-SITE.XML_ozone.recon.address="ozone-gateway.saoirse.home.arpa:9891"
Environment=OZONE-SITE.XML_ozone.recon.db.dir="/data/metadata/recon"
Environment=OZONE-SITE.XML_ozone.replication="1"
Environment=OZONE-SITE.XML_ozone.scm.block.client.address="ozone-scm.saoirse.home.arpa"
Environment=OZONE-SITE.XML_ozone.scm.client.address="ozone-scm.saoirse.home.arpa"
Environment=OZONE-SITE.XML_ozone.scm.datanode.id.dir="/data/metadata"
Environment=OZONE-SITE.XML_ozone.scm.names="ozone-scm.saoirse.home.arpa"
Environment=OZONE-SITE.XML_ozone.scm.container.size="512mb"
Environment=OZONE-SITE.XML_ozone.scm.block.size="16mb"
Environment=CORE-SITE.XML_hadoop.proxyuser.hadoop.hosts="*"
Environment=CORE-SITE.XML_hadoop.proxyuser.hadoop.groups="*"
Environment=ENSURE_OM_INITIALIZED="/data/metadata/om/current/VERSION"
Environment=WAITFOR="ozone-scm.saoirse.home.arpa:9876"
Environment=OZONE_HEAPSIZE_MAX=256
Volume=ozone-om-data.volume:/data:z
Memory=1g
