[Unit]
Description=Name Server AdGuard DNS Proxy

[Service]
Restart=on-failure

[Container]
Pod=ns.pod
Image=docker.io/adguard/dnsproxy:latest
AutoUpdate=registry
Mount=type=bind,src=/var/containers/ns/dnsproxy/config.yaml,dst=/opt/dnsproxy/config.yaml,relabel=shared
